<h3 style = "margin-top:40px">Configuration</h3>
<div class = "card" style = "background-color:var(--background-lighter);">
    <input id = "title" placeholder = "title…" style = "background-color:var(--background-lightest); width:100%;"/>
    <br><br>
    <input id = "favicon" placeholder = "favicon…" style = "background-color:var(--background-lightest); width:100%;"/>
    <br><br>
    <input id = "escape" placeholder = "escape…" style = "background-color:var(--background-lightest); width:100%;"/>
    <div style = "display:flex; align-items:center; margin-top:20px;">
        <button id = "save_config" style = "width:100%; margin-right:10px;">Save Config</button>
        <button id = "delete_config" class = "danger" style = "width:100%">Delete Config</button>

    </div>
</div>
<script src = "/src/masking.js" type = "module"></script>