<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>404 | atom</title>
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0"/>
        <link rel = "stylesheet" href = "/style.css" type = "text/css"/>
        <link rel = "icon" type = "image/x-icon" href = "/favicon.ico"/>
    </head>
    <body>
        <%- include("./components/header.html"); %>
        <h3 style = "color: var(--secondary); text-align: center;">
            404 Not Found
        </h3>
        <a href = "/home" style = "text-decoration: none;">
            <button style = "margin: auto;">
                Go back
            </button>
        </a>
        
        <script src = "/src/actions/exit.js"></script>
    </body>
</html>