<!DOCTYPE html>
<html lang = "en">
    <head>
        <title><%- name %> | atom</title>
        <%- include("./components/meta.html"); %>
    </head>
    <body>
        <div class = "card main">
            <div style = "display: flex; align-items: center;">
                <%- include("./components/header.html"); %>
                <%- include("./components/profile.html"); %>
            </div>
            <input id = "id" value = "<%- id %>" type = "hidden" />
            <div class = "dropdown">
                <button class = "dropdown-click" onclick = "dropdown()">
                    <%- name %>
                    <span id = "icon" style = "display: flex; align-items: center; justify-content: center; margin-left: 20px;">
                        <svg xmlns = "http://www.w3.org/2000/svg" width = "20" height = "20" viewBox = "0 0 24 24" fill = "none" stroke = "currentColor" stroke-width = "2" stroke-linecap = "round" stroke-linejoin = "round">
                            <path d = "m6 9 6 6 6-6" />
                        </svg>
                    </span>
                </button>
                <div id = "dropdown" class = "dropdown-content">
                    <div id = "settings" onclick = "document.querySelector('dialog#settings').showModal()">
                        <svg xmlns = "http://www.w3.org/2000/svg" width = "16" height = "24" viewBox = "0 0 24 24" fill = "none" stroke = "currentColor" stroke-width = "2" stroke-linecap = "round" stroke-linejoin = "round">
                            <path d = "M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z" />
                            <circle cx = "12" cy = "12" r = "3" />
                        </svg>
                        &nbsp;Settings
                    </div>
                    <div onclick = "document.querySelector('dialog#members').showModal()">
                        <svg xmlns = "http://www.w3.org/2000/svg" width = "16" height = "16" viewBox = "0 0 24 24" fill = "none" stroke = "currentColor" stroke-width = "2" stroke-linecap = "round" stroke-linejoin = "round">
                            <path d = "M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
                            <circle cx = "9" cy = "7" r = "4" />
                            <path d = "M22 21v-2a4 4 0 0 0-3-3.87" />
                            <path d = "M16 3.13a4 4 0 0 1 0 7.75" />
                        </svg>
                        &nbsp;Members
                    </div>
                    <div onclick = "document.querySelector('dialog#invite').showModal()">
                        <svg xmlns = "http://www.w3.org/2000/svg" width = "16" height = "16" viewBox = "0 0 24 24" fill = "none" stroke = "currentColor" stroke-width = "2" stroke-linecap = "round" stroke-linejoin = "round">
                            <path d = "M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
                            <circle cx = "9" cy = "7" r = "4" />
                            <line x1 = "19" x2 = "19" y1 = "8" y2 = "14" />
                            <line x1 = "22" x2 = "16" y1 = "11" y2 = "11" />
                        </svg>
                        &nbsp;Invite
                    </div>
                    <div id = "leave" class = "danger">
                        <svg xmlns = "http://www.w3.org/2000/svg" width = "16" height = "16" viewBox = "0 0 24 24" fill = "none" stroke = "currentColor" stroke-width = "2" stroke-linecap = "round" stroke-linejoin = "round">
                            <path d = "M13 4h3a2 2 0 0 1 2 2v14" />
                            <path d = "M2 20h3" />
                            <path d = "M13 20h9" />
                            <path d = "M10 12v.01" />
                            <path d = "M13 4.562v16.157a1 1 0 0 1-1.242.97L5 20V5.562a2 2 0 0 1 1.515-1.94l4-1A2 2 0 0 1 13 4.561Z" />
                        </svg>
                        &nbsp;Leave
                    </div>
                </div>
            </div>
            <div id = "feed" style = "height: 50vh; overflow: auto; margin-top: 25px; margin-bottom: 30px; max-width: 100%; border-top: 1px solid var(--background-lighter); padding-top: 20px;"></div>
            <form id = "send-msg" style = "width: 100%; display: flex; align-items: center; justify-content: center;">
                <input id = "message" placeholder = "Type a message…" autocomplete = "off" style = "width: 100%; margin-right: 10px; border-radius: var(--border-radius) 0px 0px var(--border-radius);" />
                <button type = "submit" style = "color: var(--color); border-radius: 0px var(--border-radius) var(--border-radius) 0px; width: 10%;">
                    <svg xmlns = "http://www.w3.org/2000/svg" width = "20" height = "20" viewBox = "0 0 24 24" fill = "none" stroke = "currentColor" stroke-width = "2" stroke-linecap = "round" stroke-linejoin = "round">
                        <path d = "m5 12 7-7 7 7" />
                        <path d = "M12 19V5" />
                    </svg>
                </button>
            </form>
            <p id = "error" style = "color: var(--danger);"></p>
        </div>
        <%- include("./components/server-list.html"); %>
        <dialog id = "settings">
            <button class = "close" onClick = "document.querySelector('dialog#settings').close()">
                <svg xmlns = "http://www.w3.org/2000/svg" width = "16" height = "16" viewBox = "0 0 24 24" fill = "none" stroke = "currentColor" stroke-width = "2" stroke-linecap = "round" stroke-linejoin = "round">
                    <path d = "M18 6 6 18" />
                    <path d = "m6 6 12 12" />
                </svg>
            </button>
            <h2>Server Settings</h2>
            <hr />
            <p style = "color: var(--danger); font-weight: bold; display: flex; align-items: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-alert"><circle cx="12" cy="12" r="10"/><line x1="12" x2="12" y1="8" y2="12"/><line x1="12" x2="12.01" y1="16" y2="16"/></svg>
                &nbsp;Danger Zone
            </p>
            <button id = "purge" class = "danger" style = "width: 100%; margin-bottom: 10px;">
                <svg xmlns = "http://www.w3.org/2000/svg" width = "16" height = "16" viewBox = "0 0 24 24" fill = "none" stroke = "currentColor" stroke-width = "2" stroke-linecap = "round" stroke-linejoin = "round">
                    <path d = "M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z" />
                    <path d = "m14.5 7.5-5 5" />
                    <path d = "m9.5 7.5 5 5" />
                </svg>
                &nbsp;<span class = "hide">Purge Messages</span>
            </button>
            <button id = "delete" class = "danger" style = "width: 100%;">
                <svg xmlns = "http://www.w3.org/2000/svg" width = "16" height = "16" viewBox = "0 0 24 24" fill = "none" stroke = "currentColor" stroke-width = "2" stroke-linecap = "round" stroke-linejoin = "round">
                    <path d = "M3 6h18" />
                    <path d = "M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
                    <path d = "M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
                    <line x1 = "10" x2 = "10" y1 = "11" y2 = "17" />
                    <line x1 = "14" x2 = "14" y1 = "11" y2 = "17" />
                </svg>
                &nbsp;<span class = "hide">Delete Server</span>
            </button>
        </dialog>
        <dialog id = "members">
            <button class = "close" onClick = "document.querySelector('dialog#members').close()">
                <svg xmlns = "http://www.w3.org/2000/svg" width = "16" height = "16" viewBox = "0 0 24 24" fill = "none" stroke = "currentColor" stroke-width = "2" stroke-linecap = "round" stroke-linejoin = "round">
                    <path d = "M18 6 6 18" />
                    <path d = "m6 6 12 12" />
                </svg>
            </button>
            <h2>Members</h2>
        </dialog>
        <dialog id = "invite">
            <button class = "close" onClick = "document.querySelector('dialog#invite').close()">
                <svg xmlns = "http://www.w3.org/2000/svg" width = "16" height = "16" viewBox = "0 0 24 24" fill = "none" stroke = "currentColor" stroke-width = "2" stroke-linecap = "round" stroke-linejoin = "round">
                    <path d = "M18 6 6 18" />
                    <path d = "m6 6 12 12" />
                </svg>
            </button>
            <h2>Invite Link</h2>
            <hr />
            <div style = "display: flex; align-items: center; justify-content: center;">
                <input id = "invite-link" style = "width: 100%" />
                <button id = "copy-invite" style = "margin-left: 5px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-copy"><rect width="14" height="14" x="8" y="8" rx="2" ry="2"/><path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"/></svg>
                    &nbsp;Copy
                </button>
            </div>
        </dialog>
        
        <script type = "module">
            import { io } from "/src/socket-io.js"
            import { fetch_api } from "/src/misc/fetch.js"
            import { create_msg } from "/src/misc/create-msg.js"
            import { getCookie } from "/src/misc/cookies.js"

            if ("<%- owner %>" != "true") {
                document.getElementById("settings").style.display = "none"
            }

            const messages = JSON.parse(`<%- messages %>`)
            
            messages.forEach((msg) => {
                create_msg(msg)
            })

            document.getElementById("delete").addEventListener("click", () => delete_action("delete-server"))
            document.getElementById("purge").addEventListener("click", () => delete_action("purge-msgs"))

            async function delete_action(route) {
                const res = await fetch_api(`/api/${route}`, {
                    id: document.getElementById("id").value
                })

                if (res.error) {
                    document.getElementById("error").innerText = res.error
                } else {
                    window.location.href = route == "delete-server" ? "/home" : window.location.href
                }
            }

            // get members
            const members = JSON.parse(`<%- members %>`)

            members.forEach((member) => {
                const div = document.createElement("div")
                div.setAttribute("class", "member")
                div.setAttribute("style", "display: flex; align-items: center;")
                div.innerText = member

                const profile_button = document.createElement("button")
                profile_button.setAttribute("style", "margin-left: auto; width: 40px;")
                profile_button.innerHTML = `
                    <svg xmlns = "http://www.w3.org/2000/svg" width = "16" height = "16" viewBox = "0 0 24 24" fill = "none" stroke = "currentColor" stroke-width = "2" stroke-linecap = "round" stroke-linejoin = "round">
                        <path d = "M15 3h6v6" />
                        <path d = "M10 14 21 3" />
                        <path d = "M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" />
                    </svg>
                `
                profile_button.addEventListener("click", () => {
                    window.location.href = `/users/${member}`
                })

                const add_button = document.createElement("button")
                add_button.setAttribute("style", "margin-left: 5px; width: 40px;")
                add_button.innerHTML = `
                    <svg xmlns = "http://www.w3.org/2000/svg" width = "16" height = "16" viewBox = "0 0 24 24" fill = "none" stroke = "currentColor" stroke-width = "2" stroke-linecap = "round" stroke-linejoin = "round">
                        <path d = "M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
                        <circle cx = "9" cy = "7" r = "4" />
                        <line x1 = "19" x2 = "19" y1 = "8" y2 = "14" />
                        <line x1 = "22" x2 = "16" y1 = "11" y2 = "11" />
                    </svg>
                `

                const remove_button = document.createElement("button")
                remove_button.setAttribute("class", "danger")
                remove_button.setAttribute("style", "margin-left: 5px; width: 40px;")
                remove_button.innerHTML = `
                    <svg xmlns = "http://www.w3.org/2000/svg" width = "16" height = "16" viewBox = "0 0 24 24" fill = "none" stroke = "currentColor" stroke-width = "2" stroke-linecap = "round" stroke-linejoin = "round">
                        <path d = "M18 6 6 18" />
                        <path d = "m6 6 12 12" />
                    </svg>
                `
                // removing a user from the server
                remove_button.addEventListener("click", async () => {
                    const res = await fetch_api("/api/remove-member", {
                        id: document.getElementById("id").value,
                        member
                    })
                    if (res.success) {
                        window.location.reload()
                    } else {
                        alert(res.error)
                    }
                })

                div.appendChild(profile_button)
                div.appendChild(add_button)
                div.appendChild(remove_button)
                
                document.querySelector("dialog#members").appendChild(div)
            })

            // add an invite link
            document.getElementById("invite-link").value = `${window.location.origin}/server/${document.getElementById("id").value}`

            document.getElementById("copy-invite").addEventListener("click", async () => {
                await navigator.clipboard.writeText(document.getElementById("invite-link").value)
            })
        </script>
        <script src = "/src/actions/send-msg.js" type = "module"></script>
        <script src = "/src/actions/leave-server.js" type = "module"></script>
        <script src = "/src/misc/dropdown.js"></script>
        <script src = "/src/actions/onload.js" type = "module"></script>

        <style>
            #send {
                width: 10%;
            }

            @media screen and (max-width: 600px) {
                #send {
                    width: 20%;
                }
            }
        </style>
    </body>
</html>