<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>home | atom</title>
        <%- include("./components/meta.html"); %>
    </head>
    <body>
        <div class = "card main">
            <div style = "display: flex; align-items: center;">
                <%- include("./components/header.html"); %>
                <%- include("./components/profile.html"); %>
            </div>
            <p style = "color: var(--secondary);">My Friends</p>
            <div style = "display: flex; align-items: center;"></div>
        </div>
        <%- include("./components/server-list.html"); %>

        <script src = "/src/actions/create-server.js"></script>
        <script src = "/src/actions/onload.js" type = "module"></script>
    </body>
</html>