<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>login | atom</title>
        <%- include("./components/meta.html"); %>
    </head>
    <body>
        <div class = "card" style = "margin-top: 50px; text-align: center;">
            <%- include("./components/header.html"); %>
            <form id = "login" autocomplete = "off" spellcheck = "false">
                <input value = "login" id = "type" type = "hidden" />
                <input type = "text" placeholder = "alias" id = "alias" />
                <input type = "password" placeholder = "password" id = "password" />
                <button type = "submit" id = "auth-button" style = "width: 100%;">
                    Login
                </button>
                <p style = "color: var(--danger);" id = "error"></p>
            </form>
            <p>
                No account? <a href = "?page=signup">Sign Up</a>
            </p>
        </div>
        <%- include("./components/footer.html"); %>
        
        <script src = "/src/actions/auth.js" type = "module"></script>
        <script src = "/src/actions/onload.js" type = "module"></script>

        <style>
            form input {
                margin-bottom: 25px;
            }
        </style>
    </body>
</html>