<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>login | atomchat</title>
        <%- include("./components/meta.html"); %>
    </head>
    <body>
        <div class = "card" style = "margin-top: 50px; text-align: center;">
            <%- include("./components/header.html"); %>
            <form id = "login" autocomplete = "off" spellcheck = "false">
                <input value = "login" id = "type" type = "hidden" />
                <input type = "text" placeholder = "alias" id = "alias" style = "width: 100%;" />
                <br><br>
                <input type = "password" placeholder = "password" id = "password" style = "width: 100%;" />
                <br><br>
                <button type = "submit" id = "auth-button" style = "width: 100%;">
                    Login
                </button>
                <p style = "color: var(--danger);" id = "error"></p>
            </form>
            <p>
                No account? <a href = "?page=signup">Sign Up</a>
            </p>
        </div>
        <footer>
            Switzerland Based
        </footer>
        <script src = "/src/auth.js"></script>
        <script src = "/src/misc/exit.js"></script>
    </body>
</html>