<!--<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Anon | Room <%- id %></title>
        <%- include("./components/meta.html"); %>
    </head>
    <body>
        <div class = "card" style = "background-color:var(--background)">
            <%- include("./components/header.html"); %>
            <h3 style = "margin-top:40px">Room: <%-id %></h3>
            <%- include("./components/space.html"); %>
            <%- include('./components/config.html'); %>
        </div>
        <script src = "/src/send.js" type = "module"></script>
    </body>
</html>-->
work in progress