<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>signup | atomchat</title>
        <%- include("./components/meta.html"); %>
    </head>
    <body>
        <div class = "card" style = "margin-top: 50px; text-align: center;">
            <%- include("./components/header.html"); %>
            <form id = "login" autocomplete = "off" spellcheck = "false">
                <input value = "signup" id = "type" type = "hidden" />
                <input type = "text" placeholder = "alias" id = "alias" style = "width: 100%;" />
                <br><br>
                <input type = "password" placeholder = "password" id = "password" style = "width: 100%;" />
                <br><br>
                <input type = "password" placeholder = "invite key" id = "invite-key" style = "width: 100%;" />
                <br><br>
                <button type = "submit" id = "auth-button" style = "width: 100%;">Sign Up</button>
                <p id = "error" style = "color: var(--danger);"></p>
            </form>
            <p>
                Own an account? <a href = "/">Login</a>
            </p>
        </div>
        <%- include("./components/footer.html"); %>
        <script src = "/src/auth.js"></script>
        <script src = "/src/misc/exit.js"></script>
    </body>
</html>