@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --background: #232222;
    --background-lighter: #2c2a2a;
    --background-lightest: #353232;
    --color: #fdf4f4;
    --secondary: #b6b0b0;
    --primary: #1e90ff;
    --primary-darker: #037ffb;
    --success: #4BB543;
    --danger: #D8524B;
    --danger-darker: #db3c34;
    --border-radius: 10px;
    --box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    --font: "Roboto", sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--background-lighter); 
}
::-webkit-scrollbar-thumb {
    background: var(--background-lightest); 
}

html {
    margin-bottom: 20px;
}

body {
    margin: 20px 30px;
    background-color: var(--background);
    background-image:  linear-gradient(var(--background-lighter) 1px, transparent 1px), linear-gradient(to right, var(--background-lighter) 1px, var(--background) 1px);
    background-size: 20px 20px;
    color: var(--color);
    font-family: var(--font);
}

input {
    box-shadow: var(--box-shadow);
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    background: var(--background-lighter);
    border: 1px solid var(--background-lightest);
    outline: none;
    height: 40px;
    color: var(--color);
    padding: 0px 8px;
    border-radius: var(--border-radius);
    transition: 0.2s;
}
input:focus {
    background: var(--background-lightest);
}

button {
    box-shadow: var(--box-shadow);
    background: var(--background-lighter);
    font-family: var(--font);
    font-size: 16px;
    border: 1px solid var(--background-lightest);
    height: 40px;
    color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    transition: 0.2s;
}
button:hover {
    cursor: pointer;
    background: var(--background-lightest);
}
button.danger {
    color: var(--danger);
    background-color: var(--background);
    border: 1px solid var(--danger);
}
button.danger:hover {
    background-color: var(--danger-darker);
    color: #fff;
}

a {
    text-decoration: underline;
    color: var(--secondary);
}
a:hover {
    cursor: pointer;
    text-decoration: none;
}

dialog {
    background: none;
    backdrop-filter: blur(5px);
    color: var(--color);
    border: 1px solid var(--background-lightest);
    border-radius: var(--border-radius);
    padding: 10px;
    width: 350px;
}
dialog h2 {
    text-align: center;
}
dialog button.close {
    margin-left: auto;
}
::backdrop {
    background-color: #000;
    opacity: 0.5;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(3px);
    padding: 5px;
    color: var(--secondary);
    text-align: center;
}

div.card {
    box-shadow: var(--box-shadow);
    margin: auto;
    max-width: 450px;
    padding: 10px 20px;
    backdrop-filter: blur(3px);
    border-radius: var(--border-radius);
}

div.card-secondary, div.message {
    box-shadow: var(--box-shadow);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--background-lightest);
    border-radius: var(--border-radius);
    transition: 0.2s;
}
div.card-secondary {
    max-width: 100%;
}
div.card-secondary span {
    color: var(--secondary);
}
div.card-secondary:hover {
    border-color: var(--background-lighter);
}
div.message {
    width: fit-content;
    border-radius: 50px;
}
  
div.dropdown {
    position: relative;
    display: inline-block;
}
div.dropdown .dropdown-click {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    border: 1px solid var(--background-lightest);
    background-color: var(--background-lighter);
    cursor: pointer;
    transition: 0.2s;
}
div.dropdown .dropdown-click:hover {
    background-color: var(--background-lightest);
}
div.dropdown-content {
    margin-top: 10px;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--background-lightest);
    display: none;
    position: absolute;
    background-color: var(--background-lighter);
    min-width: 160px;
    overflow: auto;
    z-index: 1;
    border-radius: var(--border-radius);
}
div.dropdown-content div {
    padding: 12px 16px;
    display: block;
    cursor: pointer;
    color: var(--secondary);
    display: flex;
    align-items: center;
    transition: 0.2s;
}
div.dropdown-content div:hover {
    background-color: var(--background-lightest);
}
div.dropdown-content div.danger:hover {
    background-color: var(--danger);
    color: #fff;
}

div.main {
    max-width: 80%;
}

@media screen and (max-width: 600px) {
    span.hide {
        display: none;
    }
    
    div.main {
        max-width: 100%;
    }
}